In [8]:
# importing pandas module
import pandas as pd

# reading csv file from url
data = pd.read_csv("https://media.geeksforgeeks.org/wp-content/uploads/nba.csv")

# dropping null value columns to avoid errors
data.dropna(inplace = True)

# substring to be searched
sub ='Johnson'

# creating and passing series to new column
data["Find"]= data["Name"].str.find(sub)
data["Contains"]= data["Name"].str.contains(sub)

# display
data[["Name", "Find", "Contains"]]

              Name  Find  Contains
0    Avery Bradley    -1     False
1      Jae Crowder    -1     False
3      R.J. Hunter    -1     False
6    Jordan Mickey    -1     False
7     Kelly Olynyk    -1     False
..             ...   ...       ...
449    Rodney Hood    -1     False
451  Chris Johnson     6      True
452     Trey Lyles    -1     False
453   Shelvin Mack    -1     False
456    Jeff Withey    -1     False

[364 rows x 3 columns]

In [ ]:
ind.str.contains('23', regex=False)